
<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
      <div class="navbarpages">
        <div class="navbar_page_center">主题活动</div>
        <div class="menu_open_icon_white">

          <%= link_to image_tag('menu_open.png') ,'/tests',class:"external item-link item-content alert-text",'data-no-turbolink' => true %>
        </div>
      </div>
      <div id="pages_maincontent">
        <h2 class="page_subtitle">婚礼
        <% @themeclas.each do |themecla| %>
            <%= themecla.name %>
            <% @themes.each do |theme| %>
                <% if themecla.id == theme.themecla_id %>

                      </h2>
                    <li>
                      <%= theme.title %>

                    </li>

                    <li>
                      <%= link_to theme.themeimg %>

                    </li>

                <% end %>
            <% end %>
        <% end %>




        <div class="list-block">
          <ul class="posts">
            <li class="swipeout">
              <div class="swipeout-content item-content">
                <div class="post_entry">
                  <div class="center"><img src="images/photos/photo8.jpg" alt="" title="" /></div>

                </div>
              </div>
              <div class="swipeout-actions-right">
                <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/heart.png" alt="" title="" /></a>
              </div>
            </li>

          </ul>
          <h2 class="page_subtitle">同学聚会</h2>
          <div id="loadMore">Load more posts</div>
          <div id="showLess">No more posts</div>
        </div>
        <h2 class="page_subtitle">
        <% @themeclas.each do |themecla| %>
            <%= themecla.name %>
            <% @themes.each do |theme| %>
                <% if themecla.id == theme.themecla_id %>

                    <li>
                      <%= theme.title %>

                    </li>

                      <li>
                        <%= theme.themeimg %>

                      </li>

                <% end %>
            <% end %>
        <% end %>




        </h2>
      </div>


    </div>
  </div>
</div>
