<%= render 'adminmenu'%>
<div class="container">
  <h1>特色菜品</h1>
    <div class="ibox-content">
      <table border="1">
        <thead>
        <tr>
          <th style="text-align:center">菜品类型</th>&nbsp;
          <th style="text-align:center">菜品名称</th>&nbsp;
          <th style="text-align:center">菜品描述</th>&nbsp;
          <th style="text-align:center">菜品价格</th>&nbsp;
          <th style="text-align:center">创建时间</th>&nbsp;
          <th style="text-align:center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @caipins.each do |f| %>
            <tr>



              <td>
                <% @caipinclas.each do |caipincla| %>
                    <% if caipincla.id  == f.caipincla_id %>
                        <%= caipincla.name %>
                        <% break %>
                    <% end %>
                <% end %>
              </td>
              &nbsp;&nbsp;&nbsp;

              <td style="text-align:center">
                <%= f.name %>
              </td>

              <td style="text-align:center">
                <%= f.summary %>
              </td>

              <td style="text-align:center">
                <%= f.price %>
              </td>





              <td style="text-align:center">
                <%= f.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </td>

              <td style="text-align:center">

                <%= link_to "编辑", edit_admincaipin_path(f),class: " external item-link item-content alert-text,fa fa-pencil" %>&nbsp;
                <%= link_to '删除', admincaipin_path(f), class: "fa fa-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
</td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to "新建", new_admincaipin_path,class: "button button-glow button-rounded button-raised button-primary pull-right external item-link item-content alert-text",'data-no-turbolink'=>true %>
      <br>
    </div>

  </div>
</div>














