<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
      <div class="navbarpages">

        <div class="navbar_page_center">活动报名</div>
        <div class="menu_open_icon_white">

          <%= link_to image_tag('menu_open.png') ,'/promotions',class:"external item-link item-content alert-text",'data-no-turbolink' => true %>
        </div>
      </div>
      <div id="pages_maincontent">
        <h2 class="page_subtitle">请填写您的报名信息</h2>
        <h2 id="Note"></h2>
        <div class="contactform">

         





          <form class="cmxform" id="ContactForm" method="post" action="">

            <%= form_for @enroll do |f| %>

            <label>姓名:</label>
                <%= f.text_field :name,class:"" %>

                <input type="text" name="ContactName" id="ContactName" value="" class="form_input required" />




            <label>电话:</label>
            <%= f.text_field :tel %>
            <input type="text" name="ContactEmail" id="ContactEmail" value="" class="form_input required email" />



            <label>内容:</label>
            <%= f.text_area :content %>
            <textarea name="ContactComment" id="ContactComment" class="form_textarea textarea required" rows="" cols=""></textarea>

<br>
            <br>



            <input type="submit" name="submit" class="button button-glow button-rounded button-raised button-primary" id="submit" value="提交" />



<% end %>

          </form>





















        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>